<li class="@@class">
    <img src="@@img" alt="">
    <div class="text">
        <h5>@@class</h5>
        <span>01 October 2021</span>
        <p>There are many variations of passages of Lorem Ipsum available,</p>
        <a data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample"><i data-feather="corner-up-left"></i>Reply</a>
        <div class="collapse reply" id="collapseExample1">
            <h5>Reply to @@class</h5>
            <div class="card card-body">
                <form>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputName1">Name</label>
                            <input type="text" class="form-control" id="exampleInputName1" aria-describedby="nameHelp" placeholder="Jhone Deo">
                          </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@gmail.com">
                          </div>
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputComment1">Comment</label>
                        <textarea class="form-control" name="comment" id="exampleInputComment1" placeholder="Comment here.."></textarea>
                      </div>
                    <button type="submit" class="btn btn-primary">Post Comment</button>
                  </form>
            </div>
          </div>
    </div>
</li>