<div class="property">
    <div class="status @@status">@@status</div>
    <div class="swiper swiper-images gallery-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide" data-lg-size="1600-1067" data-src="@@img">
          <img src="@@img" alt="">
          <div class="overlay"><i class="fa-solid fa-expand"></i></div>
        </div>
        <div class="swiper-slide" data-lg-size="1600-1067" data-src="@@img">
          <img src="@@img" alt="">
          <div class="overlay"><i class="fa-solid fa-expand"></i></div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>    
    <div class="text animate__animated animate__fadeInUp">
      <h3>@@title</h3>
      <p><i class="fa-solid fa-location-dot"></i> @@address</p>
      <div class="info">
        <span><i class="fa-solid fa-bed"></i> 4</span>
        <span><i class="fa-solid fa-shower"></i> 2</span>
        <span><i class="fa-solid fa-expand"></i> 1500 sqft</span>
      </div>
      <div class="flex">
        <span>$179,800.00</span>
        <a href="property-details.html" class="btn btn-secondary"><span>View Details</span>
          <svg width="34" height="24" viewBox="0 0 34 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.99585 12L32.9959 12" stroke="black" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M26 5L33 12L26 19" stroke="black" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </a>
      </div>      
    </div>
  </div>