.property{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 32px;
    img{
        width: 100%;
        height: 260px;
        object-fit: cover;
    }
    .swiper{
        .swiper-slide{
            position: relative;
            .overlay{
                top: 0;
                left: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(204, 204, 204, 0.384);
                display: flex;
                justify-content: center;
                align-items: center;
                color: $primary;
                font-size: 32px;
                opacity: 0;
                transition: all 0.4s;
            }
            &:hover{
                cursor: pointer;
                .overlay{
                    opacity: 1;
                }
            }
        }
    }
    .swiper-button-next, .swiper-button-prev{
        color: $primary;
        background-color: rgba(255, 255, 255, 0.776);
        border-radius: 50%;
        aspect-ratio: 2/2;
        width: 32px;
        height: 32px;
    }
    .swiper-button-next:after, .swiper-button-prev:after{
        font-size: 14px;
    }
    background-color: #fff;
    box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.2);
    // border: 1px solid #d6d6d6;
    .status{
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: $primary;
        color: #fff;
        font-size: 12px;
        border-radius: 8px;
        padding: 2px 6px;
        text-transform:capitalize;
        z-index: 2;
        &.ongoing{
background-color: #444;
        }
        &.completed{
            background-color:#77c720;
        }
    }
    .text{
        padding: 20px 24px;
        h3{
            font-size: 20px;
            font-weight: 600;
            color: $text;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            overflow: hidden;
            -webkit-box-orient: vertical;
        }
        .info{
            margin: 12px 0;
            color: $darkgray;
            span{
                margin-right: 12px;
                font-size: 16px;
            }
        }
        .flex{
            span{
                font-size: 18px;
                font-weight: 600;
            }
            .btn{
                margin-bottom: 0;
            }
        }
    }
    @media (max-width:767.99px) {
        .text{
            p{
                font-size: 14px;
                margin-bottom: 10px;
            }
            .flex{
                span{
                    font-size: 14px;
                }
            }
        }
    }
}