<div class="social-share">
  <div class="social-icons">
    <a href="#" style="background-color: #3b5998;" title="Facebook"><i class="fab fa-facebook-f"></i></a>
    <!-- <a href="#" style="background-color: #1da1f2;" title="Twitter"><i class="fab fa-twitter"></i></a>
    <a href="#" style="background-color: #0077b5;" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a> -->
    <a href="#" style="background-color: #e1306c;" title="Instagram"><i class="fab fa-instagram"></i></a>
    <a href="#" style="background-color: #25d366;" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
  </div>
  <div class="share-btn">
    <i class="fas fa-share-alt"></i>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h5 class="modal-title" id="welcomeModalLabel">Welcome! Please fill out the form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->
        <div class="modal-body p-0">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="row">
            <div class="col-md-5 d-none d-md-block">
              <img src="assets/images/banner3.webp" alt="Descriptive Alt Text" class="img-fluid">
            </div>
            <div class="col-md-7">
          <form>
            <h3>Get a free consultation</h3>
            <div class="form-group">
              <label for="fullName">Full Name</label>
              <input type="text" class="form-control" id="fullName" placeholder="Enter full name">
            </div>
            <div class="form-group">
              <label for="modal_email">Email</label>
              <input type="email" class="form-control" id="modal_email" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="modal_phone">Phone</label>
              <input type="tel" class="form-control" id="modal_phone" placeholder="Enter phone number">
            </div>
            <div class="form-group">
              <label for="location">Location</label>
              <input type="text" class="form-control" id="location" placeholder="Enter location">
            </div>
            <div class="form-group">
              <label for="pin">Pin</label>
              <input type="text" class="form-control" id="pin" placeholder="Enter pin">
            </div>
            <button class="btn"><span>Book a Free Consultation</span></button>
          </form>
        </div>
        </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div> -->
      </div>
    </div>
  </div>
<!-- <div class="footer-sticky-mobile">
<a href="projects.html">
    <img src="assets/images/Designs-Icon.png" alt="">
    <span>Designs</span>
</a>
<a href="tel:124567890">
    <img src="assets/images/Call-Now-CTA.png" alt="">
    <span>Call Now</span>
</a>
<a href="#welcomeModal" data-toggle="modal">
    <img src="assets/images/BookConsultation-Icon.png" alt="">
    <span>Get Free Quote</span>
</a>
<a href="https://api.whatsapp.com/send/?phone=919907234335&text&type=phone_number&app_absent=0" target="_blank">
    <img src="assets/images/Whatsapp-Icon.png" alt="">
    <span>Whatsapp</span>
</a>
</div> -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-3 mb-lg-0">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/images/fullstop.png" alt="Logo">
                    <div class="text">
                    <!-- <p>Powered By ADDYADEVELOPER AND INFRASTRUCTURE PVT. LTD.</p> -->
                </div>
                </a>
            </div>
            <div class="col-lg-5 mb-3 mb-lg-0">
                <div class="widget widget_links">
                    <div class="widget-title">
                        <h4 class="title text-light">Address</h4>
                    </div>
                    <ul>
                        <li class="text-light">Corporate Office</li>
                        <li class="text-light">
                            <a class=" text-light" href="https://maps.app.goo.gl/ZJaR9YWVEXCS45539" target="_blank">
                                Ganesh Glory, Gota, Ahmedabad, Gujarat, 382481</a></li>
                 </ul>
                </div>
            </div>
            <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="widget-title">
                    <h4 class="title text-light">CONTACT US </h4>
                     <div class="dz-social-icon">
                    <ul>
                        <li class=" text-light"><a href="mailto:info@fullstop.com" class="__cf_email__  text-light">info@fullstop.com</a></li>
                        
                       
                        <li class=" text-light"><a href="tel:+911234567890" class="text-light">Tel : +91 1234567890</a></li>
                                            
                        <li class="text-light">
                            <a class="lab la-facebook text-light" href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                            <!-- <a class="lab la-instagram text-light" href="https://www.instagram.com/spacebookinterior.pvt.ltd?igsh=MWRiNXJ4OXkydmRmcw==" target="_blank"><i class="fa-brands fa-instagram"></i></a></li> -->
                            <a class="lab la-instagram text-light" href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        <!-- <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="footerNavbar">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="comercial-projects.html">Comercial Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Design & Build</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="videos.html">Video</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav> -->
        <div class="copyright">
            <p class="mb-0 text-center">Powered by ADDYADEVELOPER AND INFRASTRUCTURE PVT. LTD</p>
        </div>
    </div>
</footer>
<!-- Modal -->
<div class="modal fade video" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <!-- <iframe src="https://www.youtube.com/embed/nfNc0XJdZWk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          <video 
          controls poster="assets/images/banner1.webp">
       <source src="assets/videos/hero-2-video.mp4" type="video/mp4">
   </video>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>
@@include('../chatbot/chatbot.html')