//primary gradient
@mixin primary-linear-gradient() {
  background: $primary;
  background: linear-gradient(to right, $primary 0%,$primarydark 100%);
}
@mixin overlay($t:0,$l:0,$w:100%,$h:auto,$bg:rgba($color: #000000, $alpha: 1.0),$b:auto,$r:auto,$op:1){
content: "";
position: absolute;
top: $t;
left: $l;
right: $r;
bottom: $b;
width: $w;
height: $h;
background-color: $bg;
opacity: $op;
}