//Set your custom variable

$primary:       #eb6831;
$primarydark:   #e25242;
$gray:#F8F8F8;
$text:#000005ef;
$darkgray:#7b7b7b;
$white:#fff;
$radius:10px;
$text-secondary:#101011;
$text-light:#1e1e1eef;
$dark:#000;
$hover:$primarydark;
$secondary:#282828;
$light-background:#F6F2F1;