.slide-container{
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  .text-area{
    position: absolute;
    width: 100%;
    color: #fff;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 100px;
    .heading{
      font-size: 16px;
      color: #fff;
      font-weight: 600;
      margin-bottom: 12px;
      svg{
        path{
          stroke: #fff;
        }
      }
    }
    .title{
      font-size: 80px;
      // max-width: 80%;
      font-weight: bold;
      margin-bottom: 32px;
      max-width: 700px;
    }
    p{
      font-size: 24px;
      max-width: 600px;
      margin-bottom: 32px;
    }
    ul{
      li{
        margin-bottom: 20px;
        font-size: 24px;
        text-transform:capitalize;
      }
    }
  }